{% extends 'base.html' %}
{% load humanize %}
{% block title %}{{listing.title}}{% endblock %}

{% block content %}

<main id="main">
  
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">        
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">{{listing.title}}</h1>
              <span class="color-text-a">{{listing.city}}, {{listing.state}}, {{listing.zipcode}}</span>
            </div>
          </div>         
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'listings' %}">Properties</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{listing.title}}
                </li>
              </ol>
            </nav>
          </div>
          {% include 'partials/_alerts.html' %}
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div id="property-single-carousel" class="swiper-container">
              <div class="swiper-wrapper">                     
                <div class="carousel-item-b swiper-slide">
                <img src="{{listing.photo_main.url}}" class="img-fluid" alt="">
                </div>                       
                {% if listing.photo_1 %}
                    <div class="carousel-item-b swiper-slide">
                    <img src="{{listing.photo_1.url}}" class="img-fluid" alt="">
                    </div>
                {% endif %}
                {% if listing.photo_2 %}
                    <div class="carousel-item-b swiper-slide">
                    <img src="{{listing.photo_2.url}}" class="img-fluid" alt="">
                    </div>
                {% endif %}
                {% if listing.photo_3 %}
                    <div class="carousel-item-b swiper-slide">
                    <img src="{{listing.photo_3.url}}" class="img-fluid" alt="">
                    </div>
                {% endif %}
                {% if listing.photo_4 %}
                    <div class="carousel-item-b swiper-slide">
                    <img src="{{listing.photo_4.url}}" class="img-fluid" alt="">
                    </div>
                {% endif %}
                {% if listing.photo_5 %}
                    <div class="carousel-item-b swiper-slide">
                    <img src="{{listing.photo_5.url}}" class="img-fluid" alt="">
                    </div>
                {% endif %}
                {% if listing.photo_6 %}
                    <div class="carousel-item-b swiper-slide">
                    <img src="{{listing.photo_6.url}}" class="img-fluid" alt="">
                    </div>
                {% endif %}                
              </div>
            </div>
            <div class="property-single-carousel-pagination carousel-pagination"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">

            <div class="row justify-content-between">
              <div class="col-md-5 col-lg-4">
                <div class="property-price d-flex justify-content-center foo">
                  <div class="card-header-c d-flex">
                    <div class="card-box-ico">
                      <span class="bi bi-cash">$</span>
                    </div>
                    <div class="card-title-c align-self-center">
                      <h5 class="title-c">{{listing.price | intcomma}}</h5>
                    </div>
                  </div>
                </div>
                <div class="property-summary">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="title-box-d section-t4">
                        <h3 class="title-d">Quick Summary</h3>
                      </div>
                    </div>
                  </div>
                  <div class="summary-list">
                    <ul class="list">
                      <li class="d-flex justify-content-between">
                        <strong>Property ID:</strong>
                        <span>{{listing.id}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Location:</strong>
                        <span>{{listing.city}}, {{listing.state}}, {{listing.zipcode}}</span>
                      </li>                      
                      <li class="d-flex justify-content-between">
                        <strong>Type:</strong>
                        <span>{{listing.type}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Area:</strong>
                        <span>{{listing.area}}m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Beds:</strong>
                        <span>{{listing.beds}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Baths:</strong>
                        <span>{{listing.baths}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Garage:</strong>
                        <span>{{listing.Garage}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Status:</strong>
                        {% if listing.is_sold %}
                          <span>
                              Not Available    
                          </span>
                        {% else %}
                          <span>
                            Available    
                          </span>
                        {% endif %}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-lg-7 section-md-t3">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d">
                      <h3 class="title-d">Property Description</h3>
                    </div>
                  </div>
                </div>
                <div class="property-description">
                  <p class="description color-text-a">
                    
                  </p>
                  <p class="description color-text-a no-margin">
                    {{listing.description}}
                  </p>
                </div>                                
              </div>
            </div>
          </div>         
          <div class="col-md-12">
            <div class="row section-t3">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Contact Agent</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <img src="{{listing.agent.photo.url}}" alt="" class="img-fluid">
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="property-agent">
                  <h4 class="title-agent">{{listing.agent.name}}</h4>
                  <p class="color-text-a">
                    {{listing.agent.description}}
                  </p>
                  <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">
                      <strong>Phone:</strong>
                      <span class="color-text-a">{{listing.agent.phone}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Mobile:</strong>
                      <span class="color-text-a">{{listing.agent.phone}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Email:</strong>
                      <span class="color-text-a">{{listing.agent.email}}</span>
                    </li>                    
                  </ul>
                  <div class="socials-a">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-4">
                <div class="property-contact">
                  <form class="form-a" action="{% url 'contacts' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12 mb-1">
                        <input type="hidden" name="listing" value="{{listing.title}}">
                        <input type="hidden" name="listing_id" value="{{listing.id}}">
                        <input type="hidden" name="agent_email" value="{{ listing.agent.email }}">
                        <div class="form-group">
                          <input type="text" name="name" class="form-control form-control-lg form-control-a" id="inputName" placeholder="Name *" required>
                        </div>
                      </div>
                      <div class="col-md-12 mb-1">
                        <div class="form-group">
                          <input type="email" name="email" class="form-control form-control-lg form-control-a" id="inputEmail1" placeholder="Email *" required>
                        </div>
                      </div>
                      <div class="col-md-12 mb-1">
                        <div class="form-group">
                          <input type="number" name="phone" class="form-control form-control-lg form-control-a"  placeholder="Phone *" required>
                        </div>
                      </div>
                      <div class="col-md-12 mb-1">
                        <div class="form-group">
                          <textarea id="textMessage" class="form-control" placeholder="Describe your subject here *" name="message" cols="45" rows="8" required></textarea>
                        </div>
                      </div>
                      <div class="col-md-12 mt-3">
                        <button type="submit" class="btn btn-a">Send Message</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Property Single-->

  </main>
{% endblock %}